body {
  background-color: rgba(224, 255, 255, 0.2);
}

.App {
  /*text-align: center;*/
}

.MainLogo {
	/*display: inline-block;*/
	height: 6em;
	width: 6em;
}

.LoginLogo {
	height: 12em;
	width: 12em;
	position: relative;
	left: 45%;
	margin: 5% 0;
}